.yviti { 
  border-right-width: 44px;
  border-left-width: 4px;
  padding-top: 28px;
  margin-bottom: 59px;
  padding-right: 44px;
  padding-left: 98px;
  font-size: 13px;
  padding-right: 14px;
  margin-top: 82px;
  border-bottom-width: 9px;
  border-bottom-width: 75px;
  margin-left: 3px;
}
