.yviti { 
  border-right-width: 44px;
  border-left-width: 4px;
  padding-top: 28px;
  margin-bottom: 59px;
  padding-right: 44px;
  padding-left: 98px;
  font-size: 13px;
  padding-right: 14px;
  margin-right: 40px;
  border-top-width: 87px;
}
