.yviti { 
  border-right-width: 44px;
  border-left-width: 4px;
  padding-top: 28px;
  margin-bottom: 59px;
  padding-right: 44px;
  padding-left: 98px;
  font-size: 13px;
  padding-right: 14px;
  margin-top: 82px;
  border-bottom-width: 9px;
  margin-left: 82px;
  border-bottom-width: 63px;
  border-bottom-width: 93px;
  margin-top: 21px;
  border-left-width: 14px;
  padding-left: 80px;
  padding-left: 5px;
  border-left-width: 84px;
  margin-left: 2px;
  margin-left: 96px;
  border-left-width: 21px;
}
